.section {
    display: flex;
    background-color: #27282D;
    height: 35rem;
    border-bottom-left-radius: 6.875rem;
}

.title {
    padding-top: 20rem;
    padding-left: 35rem;
    background-color: inherit;
    color: white;
    font-family: 'Fruktur', cursive;
    font-size: 7rem;
    margin-left: 6rem;
}

.form {
    background-color: #06061f;
    box-shadow: 0 100px 200px rgba(170,178,197,.2);
    border-radius: 10%;
    margin-top: 9rem;
    margin-left: 12rem;
    width: 15.75rem;
    height: 27.5rem;
    padding: 56px 54px;
}

.form p {
    font-family: 'Fruktur', cursive;
    color: white;
    letter-spacing: .04em;
    margin-bottom: 20px;
}

.form label {
    font-family: 'Fruktur', cursive;
    color: white;
    letter-spacing: .04em;
    display: block;
    margin-bottom: 20px;
}

.form input {
    font-family: 'Fruktur', cursive;
    background-color: #27282d;
    border: none;
    border-radius: 30px;
    color: white;
    display: block;
    height: 52px;
    letter-spacing: .04em;
    line-height: 16px;
    outline: none;
    padding-left: 20px;
    width: 238px;
    margin-bottom: 22px;
}

.form button {
    font-family: 'Fruktur', cursive;
    background-color: #27282d;
    border-radius: 16px;
    color: white;
    height: 44px;
    line-height: 14px;
    text-transform: uppercase;
    width: 122px;
    cursor: pointer;
    font-weight: 200;
    letter-spacing: .05em;
}

.form button:hover {
    background-color: #ff751d;
    color: #e7192e;
}

.groupButton {
    display: flex;
    justify-content: space-between;
}

